$color-text: #546e7a;
$red:#e74c3c;
$green:#8bc34a;
$need:#e95d50;
$bg:#263238;
$grey:#f4f6f5;

@mixin f500{
  font-family: 'Roboto-Medium';
  font-weight: 500;
}

@mixin f700{
  font-family: 'Roboto-Bold';
  font-weight: 700;
}